.photo-nav-bar {
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    height: 85px;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(165, 165, 165);
    border-right: 1px solid black;
  }
  
  .photo-nav-bar a {
    text-decoration: none;
    text-align: center;
    line-height: 3.5rem;
    background-color: rgb(53, 75, 145);
    height: 3.5rem;
    width: 120px;
    color: white;
    border-radius: 50% 20%;
    border-bottom: 1px solid orange;
    box-shadow: 2px 2px white;
  }

  .photo-nav-bar a:active {
    box-shadow: inset 2px 2px 2px rgb(36, 31, 31);
    line-height: 3.7rem;
  }
  
  .foto-container {
    display: flex;
    flex-direction: column;
  }
  
  .img-and-caption {
    margin-top: 20px;
  }
  
  #single-foto-img {
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 90%;
  }
  
  #image-caption {
    font-weight: 200;
    margin-left: 10%;
  }

  .delete-image-button {
    background-color: rgb(53, 75, 145);
    color: white;    
    line-height: 1.5rem;
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }