.sidebar-container {
  height: 100%;
  width: 300px;
  position: fixed;
  margin-top: 4rem;
  background-color: rgb(165, 165, 165);
  border-right: 1px solid black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

  .pbuttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid orange;
  }

  .pbuttons-wrapper .permanent-buttons {
    background-color: rgb(112, 141, 238);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 8rem;
    margin: 10px 0;
    color: white;
    border-radius: 20px;
    border-bottom: px solid orange;
    box-shadow: 2px 2px white;
  }

  .pbuttons-wrapper .home {
    display: block;
    width: 90%;
  }

  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .buttons-wrapper a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    line-height: 2.5rem;
    background-color: rgb(53, 75, 145);
    height: 2.5rem;
    width: 8rem;
    margin: 10px 0;
    color: white;
    border-radius: 20px;
    border-bottom: 1px solid orange;
    box-shadow: 2px 2px white;
  }

  .sidebar a:active, .sidebar .permanent-buttons:active {
    box-shadow: inset 2px 2px 2px rgb(36, 31, 31);
    line-height: 2.7rem;
  }

  .add-button-container {
    display: flex;
    margin-left: 12px;
    margin-top: 10px;
  }
